
<div aria-hidden="true" class="z-30 fixed top-0 right-0  m-1 mr-4 my-4  text-xs font-mono h-7 w-7 rounded-full flex items-center justify-center bg-slate-50 font-bold text-red-800 border border-2 border-red-800 sm:border-white sm:text-white sm:bg-pink-600 md:bg-orange-700 lg:bg-green-700 xl:bg-blue-700 hover:hidden transition-all hover:ease-out duration-500"> 
  <div class= "block sm:hidden md:hidden lg:hidden xl:hidden"> all </div>
  <div class= "hidden sm:block md:hidden lg:hidden xl:hidden"> sm </div>
  <div class= "hidden sm:hidden md:block lg:hidden xl:hidden"> md </div>
  <div class= "hidden sm:hidden md:hidden lg:block xl:hidden"> lg </div>
  <div class= "hidden sm:hidden md:hidden lg:hidden xl:block"> xl </div>
</div>