<div class="flex-shrink-0 flex sm:items-start whitespace-nowrap">
  <%= link_to root_path, class: "group branding " do %>
    <%= inline_svg_tag("we_are_wads_mark", desc: t(:app_description), alt: "#{ t :app_name}", class: "block h-8 fill-current branding-logo") %>
    <div class="branding-wordmark">
      <%= "#{ t :app_name}" %>
    </div>
  <% end %>
</div>


